<center><h1>Movies Master</h1></center>
<%=form_tag :action=>"latest_movie_create" do%>

<fieldset>
  <center><%=text_field :search, :field, :placeholder => "Enter Title"%><input type="button" value="Add" class="buttons" onclick="return GetMoviesMaster(this);"></center>
</fieldset>
<div id="movieslist">
</div>
<center><%=submit_tag :"Create New",:id=>"create_new",:class=>"buttons" ,:disabled=>true%></center>
<%end%>
